body,
h2
{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 3px;
}

header {
    height: 15%;
    background: linear-gradient(rgba(67, 136, 192, 0.651), rgb(255, 255, 255));
}

.logo_img
{
    height: 55%; 
    width: 27%;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.home_pg{
    width: 430px;
    margin-top: -13px;
}

.nav-link{
    font-weight: bold;
    color: rgb(89, 76, 119);
}

main{
    height: 85%;
    background-image: url(../Images/Trainee_profile/pexels-yankrukov-8436746.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:contrast(70%);  
}

h2 {
    color: white;
    margin-top: 2.3%;
    margin-right: 1%;
    font-weight: bold;
}

section{
    width: 60%;
    height: 50%;
    float: left;
}

.my_trainings{
    width: 30%;
    height: auto;
    display:inline;
    padding: 10px 20px; /* Increase padding as needed */
    border-radius: 10px;
    background-color: rgb(89, 76, 119) !important;
}

.my_trainings:hover {
    background-color: white !important;  /* Slightly darker background on hover */
}

.show_trainings_button{
    width: 23%;
    height: auto;
    margin-top:-12%;
}

.btn-outline-light {
    font-weight: bold;
    border-radius: 45px;
    padding: 2%;
    background-color: rgba(61, 63, 77, 0.651);
} 

.btn-outline-light:hover {
    color: rgb(89, 76, 119);
}

.personal-details, .message{
    margin-right: 29%;
    font-size: larger;

}

.registration, .preference{
    font-size: larger;
}

.personal-details::before {
    content: "\1F464"; /* Unicode for Person symbol */
    margin-left: 8px;
}

.message::before {
    content: "\1F4AC"; /* Unicode for Speech Balloon symbol */
    margin-left: 8px; /* Add some space between the icon and the text */
}

.registration::before {
    content: "\1F4CB"; /* Unicode for Clipboard with Check symbol */
    margin-left: 8px; /* Add some space between the icon and the text */
}

.preference::before {
    content: "\1F4CC"; /* Unicode for Pushpin symbol */
    margin-left: 8px; /* Add some space between the icon and the text */
}

a{
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 4%;
    width: 30%;
    height: 70px;
}

p{
    color:white;
    margin-right: 1%;
    font-weight: bold;
}

#alert-container{
    color:red;
    font-weight:bold;
    text-align: center;
    font-size:25px;
}


/* Media query for tablets and smaller screens */
@media (max-width: 1000px) {
    header {
       height: auto;
       text-align: center;
    }

    .logo_img {
        height: auto;
        width: 70%;
        margin-top: 1%;
        margin-left: 0;
        float: none;
      
    }

    .nav {
        display: block;
        margin-right: 20%;
    }

    .nav-item {
        margin: 0 10px;
        width: auto;
        height: 50px;
    }

    .nav-link{
        margin-right: -3%;
    }

    h2{
        margin-right: -3%;
        margin-top: 5%;
        text-align: center;
    }
    
    p{
        margin-right: -3%;
        margin-top: 2%;
        text-align: center;
    }
    section {
        width: 80%;
        margin-left: 5%;
    }

    a {
        display: block;
        width: 80%;
        margin: 10px auto;
    }

    .personal-details, .message{
        margin-right: 0%;
    
    }

    .message{
        margin-top: -1.5%;
    }
}


/* Media query for mobile phones */
@media (max-width: 480px) {
    
    .logo_img {
        width: 80%;
    }

    .nav {
        margin-bottom: 5%;
        margin-right: 0%;
    }

    .nav-item {
        margin: 5px 0;
        height: 30px;
    }

    .nav-link {
        font-size: 1em;
    }

    section {
        width: 90%;
        margin-left: 5%;
    }

    a {
        width: 100%;
        margin: 10px 0;
    }

    .btn-outline-light {
        padding: 5%;
    }

   
  
}











