body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    direction: rtl;
}

.training-container {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #370866;
    text-align: center;
    margin-bottom: 20px;
}

.training-session {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.field {
    display: flex;
    align-items: center;
}

.label {
    font-weight: bold;
    margin-left: 10px;
}

.value {
    flex: 1;
}

.actions {
    grid-column: span 2;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .training-session {
        display: block;
    }

    .field {
        display: block;
    }

    .label {
        display: inline-block;
        width: 40%;
    }

    .value {
        display: inline-block;
        width: 60%;
    }

    .actions {
        grid-column: 1 / -1;
    }
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.profile-button {
    background-color: white;
    color: #6a0dad;
    border: 2px solid #6a0dad;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-button:hover {
    background-color: #6a0dad;
    color: white;
}

.edit-button {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.edit-button:hover {
    background-color: #4a086b;
}

.edit-button::before {
    content: "\270E"; /* Unicode for pencil icon */
    font-size: 18px;
    margin-right: 8px;
}

.save-button {
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.save-button:hover {
    background-color: #388e3c; /* Darker green on hover */
}
