body,
h2
{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 2px;
}

header {
    height: 15%;
    background: linear-gradient(rgba(67, 136, 192, 0.651), rgb(255, 255, 255));
}

.logo_img
{
    height: 55%; 
    width: 27%;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
}

.home_pg{
    width: 430px;
}

.nav-link, #trainee_profile_link{
    font-weight: bold;
    color: rgb(89, 76, 119);
}

main {
    padding: 30px;
    height: 140%;
    background-image: url(../Images/Training_payment/pexels-annushka-ahuja-7991607.jpg);
    background-size:cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter:contrast(70%);  
}

h2{
    color:white;
}

.bold, h6, h2{
    font-weight:bold;
}

label{
    color: rgb(89, 76, 119);
    font-weight: bold;
    font-size: large;
}

input{
    color:white !important; 
    font-weight:bold !important;
    width: 70% !important;
    background-color:rgb(172, 151, 190) !important;
}

h2, input{
    margin-bottom: 2%;
}

.btn-primary{
    font-weight:bold !important;
    background-color:rgb(172, 151, 190) !important;
    margin-top:3%;
    border: none;
}

form, section{
    display:inline-block;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background: linear-gradient(rgb(237, 237, 239), rgba(38, 35, 213, 0.651));
    margin: 0 20px 30px 20px;
    vertical-align: top; 
}

form{
    width:30%;
}

section{
    width:20%;
}

#expiration_month, #expiration_year, #cvv{
    margin-left:3%;
    width: 30% !important;
}

.error-message{
    font-weight:bold;
    color:red;
}

#payment_success_title{
    display:none;
    font-weight:bold;
    text-align:center;
    color:rgb(89, 76, 119);
}

#payment_success_message{
    font-weight:bold;
    text-align:center;
    color:white;
    font-size:larger;
}

#trainee_profile_link{
     text-align:center;
 }
 
#payment_failure_message, #registration_failure_message{
    font-weight:bold;
    color:red;
}

.loading{
            display: none;
            margin-left: 10px;
            margin-top:5%;
            border: 4px solid #f3f3f3;
            border-top: 4px solid #3498db;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
}

/* Responsive Design */
@media (max-width: 900px) {
    header {
        height: auto;
        text-align: center;
    }
 
    .logo_img {
        height: auto;
        width: 70%;
        margin-top: 1%;
        margin-left: 0;
        float: none; 
    }
 
    .nav {
        display: block;
        margin-right: 7%;
    }
 
    .nav-item {
        margin: 0 10px;
        width: auto;
        height: 50px;
    }
 
    .nav-link{
        margin-right: -7%;
    }
    
    
    form, section{
        display:block;
        width:70%;
        margin-right:15%;
    }
    
    h2{
        text-align:center;
    }
    
    main{
        height:auto;
    }
}





